.main__cards {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primery-light, 0.8),
      rgba($color-primery-dark, 0.3)
    ),
    url("https://cdn.pixabay.com/photo/2020/09/22/11/36/pine-cones-5592802_1280.jpg");
  background-size: cover;
  background-position: top;
  height: ayto;
  clip-path: polygon(0 0, 100% 10%, 100% 91%, 0 100%);
  z-index: 10;
  margin-top: -8rem;
  padding: 8rem 0;
  @media screen and (max-width: 768px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
#__nuxt {
  min-height: 100vh;
}
.liner {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primery-light, 0.8),
    rgba($color-primery-dark, 0.3)
  );
  height: 65vh;
}
.head {
  color: white;
  position: relative;
  background-size: cover;
  background-position: top;
  height: 65vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: 10;

  &__contain {
    &--text {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}

.logo {
  position: absolute;
  left: 2.1rem;
  top: 1.7rem;
  z-index: 1000;
  &__img {
    height: 70px;
    @media screen and (max-width: 768px) {
      height: 50px;
    }
  }
}

.header-primery {
  line-height: 4rem;
  &--main {
    font-size: 3rem;
    font-weight: 400;
    // word-spacing: 1.1rem;
    // animation-name: moveInLeft;
    // animation-duration: 0.9s;
    // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      font-weight: 400;
    }
  }
  &--sub {
    font-size: 1.3rem;
    font-weight: 500;
    word-spacing: 0.2rem;
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
    // animation: moveInRight 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    // -webkit-animation: moveInRight 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.main__info {
  background-color: #f6f6f6;
  margin-top: -7rem;
  padding: 8rem 0;
  & .row {
    margin-top: 7rem;
  }
}

.heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;

  background-image: linear-gradient(
    to right,
    $color-primery,
    $color-primery-light
  );
}
.composition {
  position: relative;

  &__photo {
    width: 45%;
    box-shadow: 0 0.8rem 2.7rem rgba($color-black, 0.4);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s ease-out;
    outline-offset: 1.4rem;

    &--p1 {
      left: 0;
      top: -0.5rem;
    }

    &--p2 {
      right: 4.5rem;
      top: 1.5rem;
    }
    &--p3 {
      left: 5rem;
      top: 5rem;
    }

    &:hover {
      outline: 0.9rem solid $color-primery;
      box-shadow: 0 1.9rem 25rem rgba($color-black, 0.4);
      z-index: 11;
      transform: scale(1.05) translateY(-0.5rem);
      -webkit-transform: scale(1.15) translateY(-0.5rem);
      -moz-transform: scale(1.15) translateY(-0.5rem);
      -ms-transform: scale(1.15) translateY(-0.5rem);
      -o-transform: scale(1.15) translateY(-0.5rem);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.91);
    -webkit-transform: scale(0.91);
    -moz-transform: scale(0.91);
    -ms-transform: scale(0.91);
    -o-transform: scale(0.91);
  }
}

.heading-third {
  font-size: 1.2rem !important;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}

.peragraph {
  font-size: 1.01rem !important;
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 1.94rem;
  }
}
.btn-text {
  &:link,
  &:visited {
    text-align: right;
    font-size: 1rem;
    color: $color-primery;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.001rem solid $color-primery;
    padding: 5px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
  }

  &:hover {
    background-color: $color-primery;
    color: $color-white;
    box-shadow: rgba($color-black, 0.2) 0 0.7rem 1.4rem;
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: rgba($color-black, 0.2) 0 0.2rem 0.6rem;
    transform: translateY(-0.1rem);
    -webkit-transform: translateY(-0.1rem);
    -moz-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
    -o-transform: translateY(-0.1rem);
  }
}
.h-custom-25 {
  @media screen and (max-width: 768px) {
    height: 28rem;
  }
}
.h-custom-15 {
  @media screen and (max-width: 768px) {
    height: 15rem;
  }
}

.before-footer {
  background-color: #f4f4f4;
  height: 70vh;
  margin-top: -7.5rem;
  padding: 13rem;
}

.footer {
  margin-top: -14rem;
  padding-top: 19rem;
  color: #eee;
  background-color: #222;
  height: 4vh;
  position: sticky;
  z-index: -1;
  &__copyright {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.section-book {
  padding: 6rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primery-light,
    $color-primery-dark
  );
  min-height: 100vh;
  height: auto;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-grey-light-1, 0.95) 0%,
      rgba($color-grey-light-1, 0.95) 80%,
      transparent 80%
    ),
    url("https://cdn.pixabay.com/photo/2020/11/15/17/25/trees-5746604_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  background-repeat: no-repeat;
  box-shadow: 0 0.95rem 2.4rem rgba($color-black, 0.2);

  &__form {
    max-height: 50%;
    min-height: 50%;
    padding: 2.8rem;
  }
}

.form {
  align-items: right;
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    padding: 0.4rem 1.1rem;
    border-radius: 2px;
    background-color: rbga($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;
    text-align: right;
    &:focus {
      outline: none;
      box-shadow: 0 0.4rem 1.1rem rgba($color-black, 0.1);
      border-left: 1px solid $color-primery;
    }
    &--error {
      border-bottom: 3px solid red;
    }
    &--msg{
      color: red;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 1.3rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $color-primery;
  border-color: $color-primery;
}

